SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
GROQ_API_KEY=
GROQ_MODEL_NAME=llama-3.3-70b-versatile
GROQ_TEMPERATURE=0.2
GROQ_TOP_P=0.9
